
<section style="margin: 0; padding: 0 ; background-color: black;">
    <div class="jumbotron" style=" background-image: url('app/views/wallpaper.jpg'); background-repeat: no-repeat; background-size: cover; color: white; background-position:  center; ">
  <h1 data-bind="text:displayName" style="font-weight: bold;"></h1>
  <p style="font-weight: bold; width: 60%;" class="lead">You´ll find all the information you need about Nobel prizes and all the details about it!</p>
  <hr class="my-4" style="width: 50%; " align="left"></hr>
  <a class="btn  btn-lg" style="background-color: lightgrey ; border-color: lightgrey; color: black;" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color='black'"  href="#prizes" role="button">See all prizes</a>
  
</div>
   
  <div style=" background-color: black; color: white; padding-top: 0; margin-top: 0; border-top:0;">
   <div class="page-header" style="padding-top: 0; margin-top: 0; border-top: 0;">
            <h1 align="center"><b>What can you find here</b></h1>
        </div>
        <div class="container" style="padding-bottom:50px;">
            <div>
                <h2 style="text-align:center;">Laureates</h2>
            </div>
            <div class="col-lg-12" style="text-align:center; padding-bottom:25px">
                <p style="font-size: 20px;">There is a list of most of the nobel prize winners and all the details about them</p>
                <p style="font-size: 20px;">You can check it out and search someone</p>
                <button class="btn btn-lg" style="background-color: lightgrey ; border-color: lightgrey; color: black;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'" onclick="window.location.href = '#laureates'">Watch list </button>
            </div>
            <br />
            <div>
                <h2 style="text-align:center">Nobel prizes</h2>
            </div>
            <div class="col-lg-12" style="text-align:center; padding-bottom:25px">
                <p style="font-size: 20px;"> Here you can inspect each Nobel prize and see the details about it</p>
                <button class="btn btn-lg"  style="background-color: lightgrey ; border-color: lightgrey; color: black;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'" onclick="window.location.href = '#prizes'">Watch list </button>
            </div>
           
        </div>
    </div>
</section>
